@import url("https://fonts.googleapis.com/css2?family=Lumanosimo&family=Poppins:ital,wght@1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.container .hero_content {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}
.container .hero_content .img img {
  width: 80%;
  height: 96%;
}

.neme-item {
  padding-top: 10%;
}
.neme-item h2 {
  color: var(--800, #2d3748);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.neme-item h1 {
  color: var(--900, #1a202c);
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form p {
  color: var(--700, #4a5568);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  padding: 10px 0;
  font-weight: 400;
  line-height: normal;
}
.form .inputs {
  padding: 20px 10px;
  width: 350px;
  height: 50px;
  font-size: 16px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
}

.input_1 {
  padding-top: 20px;
  display: flex;
  gap: 6rem;
  justify-content: start;
}
.input_1 .class {
  display: flex;
  gap: 2px;
}
.input_1 .class p {
  color: var(--800, #2d3748);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input_1 .spam p {
  color: var(--800, #2c5282);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn_btns .btn_1 {
  margin: 10px 0;
  width: 347px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-family: Poppins;
  background: #b0c0b7;
  transition: 1.2s;
}
.btn_btns .btn_1:hover {
  background: #04c35c;
}
.btn_btns .btns {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  margin: 10px 0;
  width: 347px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  align-items: center;
  font-family: Poppins;
  background: #b0c0b7;
  transition: 1.2s;
}
.btn_btns .btns:hover {
  background: #04c35c;
}

.herif {
  text-align: end;
}
.herif h2 {
  color: #616161;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.herif .span1 {
  color: var(--700, #2b6cb0);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}